.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10vh;
  color: white;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  transition: max-height 0.3s ease-in;
}

.nav_links li {
  margin: 0 10px;
}

.header_right ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.menu_icon {
  display: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav_links {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    max-height: 0;
    overflow: hidden;
  }

  .nav_links.open {
    max-height: 300px;
  }

  .header_right ul {
    display: none;
  }

  .menu_icon {
    display: block;
  }
}
